@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Graphik LCG;
  src: url(../fonts/GraphikLCG-SemiboldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

%section-title-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #3C3F34;
}

%section-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #3C3F34;
}

%download-btn {
  width: 100%;
  max-width: 306px;
  padding: 14px 0;
  // @extend %download-btn-txt;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
  border-radius: 9px;
  border-color: transparent;
  transition: all .1s ease-in-out
}

%download-btn-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

%card-title-txt {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

%card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}


%big-card-title-txt {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

%big-card2-title-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #3C3F34;
}

%big-card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

%big-card2-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #3C3F34;
}

@mixin fontz($fst, $fwt, $fsz, $lht, $taln, $clr) {
  font-style: $fst;
  font-weight: $fwt;
  font-size: $fsz;
  line-height: $lht;
  text-align: $taln;
  color: $clr;
}

* {
  padding: 0;
  margin: 0;
}

.body {
  font-family: 'Manrope';
  background-color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.bg-light-custom {
  background-color: transparent !important;
}

.container-fluid-custom {
  padding: 0;
}

.logo {
  margin: 0;
  padding: 0;
}

.logo img {
  display: block;
  transition: all .15s ease-in-out;
}

.logo img:hover {
  filter: opacity(0.5);
}

.logo img:active {
  filter: opacity(1);
  transform: scale(.95);
}

.menu-list {
  margin: 0 auto;
}

#menuLink {
  @include fontz(normal, 500, 17px, 23px, center, #3C3F34);
  padding: 4px 6px;
  border-bottom: 2px solid transparent;
  transition: all .1s ease-in-out;
}

.page-button {
  @extend %download-btn-txt;
  color: #3C3F34;
  padding: 13px 35px;
  border: 2px solid #87B670;
  border-radius: 9px;
}


#menuLink:hover {
  border-bottom: 2px solid #87B670;
  color: #87B670;
}

#menuLink:active {
  color: #3C3F34;
  transform: scale(.95);
}

#menuLink:focus {
  border-bottom: 2px solid #87B670;
}

.body-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.page-banner {
  width: 100%;
  padding: 136px 0 0 0;
  min-height: 625px;
  background-image: url(../img/mcbook-circles.png);
  background-repeat: no-repeat;
  background-position: right -17px top -78px;
  // margin: 0 0 86px 0;
}

.banner-question {
  display: inline-block;
  width: fit-content;
  font-family: 'Graphik LCG';
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #87B670;
  margin: 0 0 15px 0;
}

.banner-title {
  width: 100%;
  @include fontz(normal, 500, 55px, 72px, left, #3C3F34);
  margin: 0 0 25px 0;
}

.banner-txt {
  width: 100%;
  max-width: 574px;
  @extend %section-text;
  margin: 0 0 35px 0;
}

.banner-btn {
  width: 100%;
  max-width: 223px;
  padding: 14px 0;
  // @extend %download-btn-txt;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
  border-radius: 9px;
  border-color: transparent;
  transition: all .1s ease-in-out;
}

.banner-btn a {
  @extend %download-btn-txt;
}

.banner-btn:hover {
  filter: opacity(.85);
}

.banner-btn:active {
  filter: opacity(1);
  transform: scale(.95);
}

.utopia_tools {
  margin: 0 0 140px 0;
  padding: 86px 0 0 0;
  position: relative;
  background-image: url(/img/half-circles.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 139px;
}

.utopia_tools::before {
  content: "";
  display: block;
  width: 148px;
  height: 266px;
  background-image: url(/img/dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.utopia_tools-title {
  width: 100%;
  @extend %section-title-txt;
  margin: 0 0 87px 0;
}

.utopia_tools-list {
  width: 100%;
  margin: 0 0 53px 0;
}

.utopia_tools-list2 {
  width: 100%;
  margin: 0 0 100px 0;
}

.tools-list-item {
  width: 100%;
  max-width: 238px;
  min-height: 210px;
  margin: 0 auto;
}

.tools-item-img {
  width: 103px;
  height: 103px;
  display: flex;
  border-radius: 50%;
  margin: 0 auto 25px;
  box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
}

.tools-item-img img {
  display: block;
  width: 62px;
  height: 62px;
  margin: auto;
}


.tools-item-title {
  @extend %big-card-text;
  color: #3C3F34;
  margin: 0 0 10px 0;
}

.tools-item-txt {
  @extend %card-text;
  color: #3C3F34;
  font-weight: 400;
  padding: 0 8px;
}

.tools-list-item2 {
  width: 100%;
  max-width: 334px;
  min-height: 210px;
  margin: 0 auto;
}

.utopia-tools-btn {
  width: 100%;
  max-width: 306px;
  padding: 14px 0;
  // @extend %download-btn-txt;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
  border-radius: 9px;
  border-color: transparent;
  transition: all .1s ease-in-out;
}

.utopia-tools-btn a {
  @extend %download-btn-txt;
}

.utopia-tools-btn:hover {
  filter: opacity(.85);
}

.utopia-tools-btn:active {
  filter: opacity(1);
  transform: scale(.95);
}

.utopia-problem {
  margin: 0 0 141px 0
}

.utopia-problem-title {
  @extend %section-title-txt;
  margin: 0 0 150px 0;
}

.problem-list {
  position: relative;
  padding: 0 .75rem;
}

.problem-card {
  width: 100%;
  max-width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0;
  border-radius: 35px;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  // margin-right: -38px;

  .problem-img-wrp {
    width: 95px;
    height: 95px;
    display: flex;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
    margin: 0 0 25px 0;
  }

  .problem-img-wrp img {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
  }

  .problem-card-title {
    width: 100%;
    @extend %card-title-txt;
    margin: 0 0 10px 0;
  }

  .problem-card-txt {
    width: 100%;
    max-width: 291px;
    @extend %card-text;
  }
}

#left>p {
  max-width: 251px;
}

// #left {
//   margin-right: -38px;
// }

// #right {
//   margin-left: -38px;
//   float: left;
// }



.problem-card-big {
  width: 100%;
  max-width: 489px;
  min-height: 350px;
  display: flex;
  position: absolute;
  top: -64px;
  left: 369px;
  flex-direction: column;
  align-items: center;
  padding: 42px 0;
  border-radius: 35px;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
}

.problem-img-big-wrp {
  width: 103px;
  height: 103px;
  display: flex;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
  margin: 0 0 27px 0;
}

.problem-img-big-wrp img {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}

.big-card-title {
  width: 100%;
  @extend %big-card-title-txt;
  margin: 0 0 10px 0;
}

.big-card-txt {
  width: 100%;
  max-width: 270px;
  @extend %big-card-text;
}


.utopia-mission {
  width: 100%;
  margin: 0 0 80px 0;
}

.utopia-mission-title {
  margin: 0 0 72px 0;
}

.utopia-mission-title-txt {
  width: 100%;
  @extend %section-title-txt;
}

.utopia-mission-info-row {
  margin: 0 auto;
}

.utopia-mission-info-wrp {
  width: 100%;
  max-width: 394px;
}

.utopia-mission-info {
  min-height: 480px;
  padding: 0 0 0 190px;
  // box-sizing: border-box;
}

.utopia-mission-info div {
  height: 100%;
}

.mission-info-title {
  @extend %big-card2-title-txt;
  text-align: start;
  margin: 0 0 25px 0;
}

.mission-info-txt {
  @extend %big-card2-text;
  text-align: start;
  margin: 0 0 35px 0;
}

.utopia-mission-btn {
  width: 100%;
  max-width: 306px;
  padding: 14px 0;
  // @extend %download-btn-txt;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
  border-radius: 9px;
  border-color: transparent;
  transition: all .1s ease-in-out;
}

.utopia-mission-btn a {
  @extend %download-btn-txt;
}

.utopia-mission-btn:hover {
  filter: opacity(.85);
}

.utopia-mission-btn:active {
  filter: opacity(1);
  transform: scale(.95);
}

.mission-background {
  width: 100%;
  max-width: 776px;
  background-image: url(../img/laptop.png);
  background-repeat: no repeat;
  background-size: cover;
}







@media (min-width: 1200px) {

  .page-container {
    max-width: 1224px;
  }

}