@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Graphik LCG;
  src: url(../fonts/GraphikLCG-SemiboldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
.make-green-title, .user-rating-title, .utopia-mission-title-txt, .utopia-problem-title, .utopia_tools-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #3C3F34;
}

.banner-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #3C3F34;
}

.utopia-mission-btn, .utopia-tools-btn {
  width: 100%;
  max-width: 306px;
  display: block;
  padding: 14px 0;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
  border-radius: 9px;
  border: none;
  transition: all 0.1s ease-in-out;
}

.white-btn span, .utopia-mission-btn span, .utopia-tools-btn span, .banner-btn span, .page-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

.problem-card .problem-card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.problem-card .problem-card-txt, .tools-item-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.big-card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

.faq-question, .mission-info-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #3C3F34;
}

.make-green-txt, .big-card-txt, .tools-item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.faq-answer, .s_technologies-info-txt, .mission-info-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #3C3F34;
}

* {
  padding: 0;
  margin: 0;
}

.body {
  font-family: "Manrope";
  background-color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.bg-light-custom {
  background-color: transparent !important;
}

.container-fluid-custom {
  padding: 0;
}

.logo {
  margin: 0;
  padding: 0;
}

.logo img {
  display: block;
  transition: all 0.15s ease-in-out;
}

.logo img:hover {
  filter: opacity(0.5);
}

.logo img:active {
  filter: opacity(1);
  transform: scale(0.95);
}

.menu-list {
  margin: 0 auto;
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #3C3F34;
  padding: 4px 6px;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease-in-out;
}

#menu_link {
  color: rgba(0, 0, 0, 0.55);
}

.page-button {
  color: #3C3F34;
  padding: 13px 35px;
  border: 2px solid #87B670;
  border-radius: 9px;
}

.menu-link:hover {
  border-bottom: 2px solid #87B670;
  color: #87B670;
}

.menu-link:active {
  color: #3C3F34;
  transform: scale(0.95);
}

.menu-link:focus {
  border-bottom: 2px solid #87B670;
}

.body-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.page-banner {
  width: 100%;
  padding: 136px 0 0 0;
  min-height: 625px;
  background-image: url(../img/mcbook-circles.png);
  background-repeat: no-repeat;
  background-position: right -17px top -78px;
}

.banner-question {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Graphik LCG";
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  color: #87B670;
  margin: 0 0 15px 0;
}

.banner-title {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 72px;
  text-align: left;
  color: #3C3F34;
  margin: 0 0 25px 0;
}

.banner-txt {
  width: 100%;
  max-width: 574px;
  margin: 0 0 35px 0;
}

.banner-btn {
  width: 100%;
  max-width: 223px;
  padding: 14px 0;
  display: block;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
  border-radius: 9px;
  border-color: transparent;
  transition: all 0.1s ease-in-out;
}

.banner-btn span {
  width: 100%;
  display: block;
}

.banner-btn:hover {
  filter: opacity(0.85);
}

.banner-btn:active {
  filter: opacity(1);
  transform: scale(0.95);
}

.utopia_tools {
  margin: 0 0 140px 0;
  padding: 86px 0 0 0;
  position: relative;
  background-image: url(../img/half-circles.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 139px;
}

.utopia_tools::before {
  content: "";
  display: block;
  width: 148px;
  height: 266px;
  background-image: url(../img/dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.utopia_tools-title {
  width: 100%;
  margin: 0 0 87px 0;
}

.utopia_tools-list {
  width: 100%;
  margin: 0 0 53px 0;
}

.utopia_tools-list2 {
  width: 100%;
  margin: 0 0 100px 0;
}

.tools-list-item {
  width: 100%;
  max-width: 238px;
  min-height: 210px;
  margin: 0 auto;
}

.tools-item-img {
  width: 103px;
  height: 103px;
  display: flex;
  border-radius: 50%;
  margin: 0 auto 25px;
  box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
}

.tools-item-img img {
  display: block;
  width: 62px;
  height: 62px;
  margin: auto;
}

.tools-item-title {
  color: #3C3F34;
  margin: 0 0 10px 0;
}

.tools-item-txt {
  color: #3C3F34;
  font-weight: 400;
  padding: 0 8px;
}

.tools-list-item2 {
  width: 100%;
  max-width: 334px;
  min-height: 210px;
  margin: 0 auto;
}

.utopia-tools-btn span {
  width: 100%;
  display: block;
}

.utopia-tools-btn:hover {
  filter: opacity(0.85);
}

.utopia-tools-btn:active {
  filter: opacity(1);
  transform: scale(0.95);
}

.utopia-problem {
  margin: 0 0 141px 0;
  background-image: url(../img/circles-green_internet.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 24px;
  background-position-y: 6px;
}

.utopia-problem-title {
  margin: 0 0 150px 0;
}

.problem-list {
  position: relative;
  margin: 0;
}

.problem-card {
  width: 100%;
  max-width: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0;
  border-radius: 35px;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
}
.problem-card .problem-img-wrp {
  width: 95px;
  height: 95px;
  display: flex;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
  margin: 0 0 25px 0;
}
.problem-card .problem-img-wrp img {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
}
.problem-card .problem-card-title {
  width: 100%;
  margin: 0 0 10px 0;
}
.problem-card .problem-card-txt {
  width: 100%;
  max-width: 291px;
}

#left > p {
  max-width: 251px;
}

.problem-card-big {
  width: 100%;
  max-width: 489px;
  min-height: 350px;
  display: flex;
  position: absolute;
  top: -64px;
  left: 29.5%;
  flex-direction: column;
  align-items: center;
  padding: 42px 0;
  border-radius: 35px;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
}

.problem-img-big-wrp {
  width: 103px;
  height: 103px;
  display: flex;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
  margin: 0 0 27px 0;
}

.problem-img-big-wrp img {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}

.big-card-title {
  width: 100%;
  margin: 0 0 10px 0;
}

.big-card-txt {
  width: 100%;
  max-width: 270px;
}

.utopia-mission {
  width: 100%;
  margin: 0 0 80px 0;
}

.utopia-mission-title {
  margin: 0 0 72px 0;
}

.utopia-mission-title-txt {
  width: 100%;
}

.utopia-mission-info {
  width: 100%;
  max-width: 1320px;
  float: right;
}

.mission-info-box {
  width: 100%;
  max-width: 661px;
  min-height: 480px;
  padding: 0 0 0 70px;
  box-sizing: border-box;
  border-radius: 35px;
}

.mission-content {
  width: 100%;
  max-width: 394px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-info-title {
  text-align: start;
  margin: 0 0 25px 0;
}

.mission-info-txt {
  text-align: start;
  margin: 0 0 35px 0;
}

.utopia-mission-btn span {
  display: block;
  width: 100%;
}

.utopia-mission-btn:hover {
  filter: opacity(0.85);
}

.utopia-mission-btn:active {
  filter: opacity(1);
  transform: scale(0.95);
}

.mission-background {
  width: 100%;
  max-width: 776px;
  min-height: 480px;
  background-image: url(../img/laptop.png);
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}

.clear_block {
  clear: both;
}

.comunity-section {
  width: 100%;
  position: relative;
}

.utopia-comunity {
  width: 100%;
  max-width: 1320px;
  min-height: 480px;
  float: right;
  position: relative;
  margin: 0 0 160px 0;
}

.utopia-comunity-info {
  width: 100%;
  max-width: 776px;
  min-height: 480px;
  float: right;
}

.comunity-info-wrp {
  width: 100%;
  max-width: 394px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comunity-section::before {
  content: "";
  display: block;
  width: 360px;
  height: 660px;
  background-image: url(../img/big-circles-left.png);
  position: absolute;
  left: 0;
  top: -380px;
  z-index: -1;
}

.comunity-background {
  width: 100%;
  max-width: 661px;
  min-height: 480px;
  border-radius: 35px;
  background-image: url(../img/two_girls.png);
  background-repeat: no-repeat;
}

.utopia-comunity-info {
  width: 100%;
  max-width: 776px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F7F8F3;
  border-radius: 35px;
  padding: 0 0 0 70px;
  box-sizing: border-box;
}

.comunity-2 {
  margin: 0 0 84px 0;
  padding: 0 0 82px 0;
  background-image: url(../img/dots-right.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.comunity-list {
  margin: 0 0 90px 0;
}

.comunity-item {
  padding: 0 50px 0 0;
}

.btn-wrp {
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle-box {
  width: 100%;
}

.circle-box::after {
  content: "";
  display: block;
  max-width: 350px;
  height: 5px;
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  border-radius: 100px;
  margin: 5px 0 0 0;
}

.users-number {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #3C3F34;
  margin: 50px 0 0 0;
}

.users-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #3C3F34;
  padding-right: 115px;
  box-sizing: border-box;
}

.utopia-reviews {
  width: 100%;
  overflow: hidden;
  margin: 0 0 100px 0;
}

.utopia-s_technologies {
  width: 100%;
  max-width: 1320px;
  min-height: 480px;
  float: right;
  margin: 0 0 80px 0;
  border-radius: 35px 0 0 35px;
}

.utopia-s_technologies-bcg {
  width: 661px;
  height: 480px;
  border-radius: 35px;
  background-image: url(../img/glass.png);
  background-repeat: no-repeat;
}

.s_technologies-info {
  width: 100%;
  max-width: 776px;
  min-height: 480px;
  border-radius: 35px 0 0 35px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 70px;
  box-sizing: border-box;
  background-image: url(../img/green-bcg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.s_technologies-info-title {
  width: 100%;
  max-width: 427px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
  color: #FFFFFF;
  margin: 0 0 25px 0;
}

.s_technologies-info-txt {
  width: 100%;
  max-width: 415px;
  margin: 0 0 35px 0;
  text-align: left;
  color: #FFFFFF;
}

.white-btn {
  background: #FFFFFF;
  transition: all 0.3s ease-out;
  padding: 0;
}

.white-btn span {
  display: block;
  padding: 14px 0;
  color: #3C3F34;
  transition: all 0.3s ease-out;
}

.white-btn:hover {
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  outline: 1px solid #FFFFFF;
}

.white-btn span:hover {
  color: #FFFFFF;
}

.white-btn:active {
  background: #FFFFFF;
  outline: none;
}

.white-btn a:active {
  color: #3C3F34;
}

.accessibility {
  max-width: 1320px;
  margin: 0 0 142px 0;
}

.accessibility-bcg {
  width: 100%;
  max-width: 776px;
  background-image: url(../img/man.png);
  background-repeat: no-repeat;
  float: right;
  border-radius: 35px 0 0 35px;
}

.accessibility-info {
  float: none;
  display: block;
}

.accessibility-info-wrp {
  min-height: 480px;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-rating-title {
  width: 100%;
  margin: 0 0 70px 0;
}

.rating-item {
  min-height: 244px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F8F3;
  border-radius: 25px;
  padding: 32px 0 0 0;
  box-sizing: border-box;
}

.trustpilot-img {
  display: block;
  margin: 0 0 27px 0;
}

.rating-item-line {
  width: 100%;
  max-width: 300px;
  display: block;
  height: 1px;
  background-color: #D9D9D9;
  margin: 0 0 35px 0;
}

.rating-stars {
  width: 100%;
  max-width: 295px;
  display: flex;
  justify-content: space-between;
}

.sprite1 {
  background-image: url(../img/sprite1.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite1-green-star {
  width: 35px;
  height: 32px;
  background-position: 0 0;
}

.sprite1-green-star {
  width: 35px;
  height: 32px;
  background-position: -35px 0;
}

.sprite1-green-star {
  width: 35px;
  height: 32px;
  background-position: -70px 0;
}

.sprite1-green-star {
  width: 35px;
  height: 32px;
  background-position: -105px 0;
}

.sprite1-grey-star {
  width: 35px;
  height: 32px;
  background-position: -140px 0;
}

.macupdate {
  padding: 45px 0 0 0;
}

.macupdate-img {
  margin: 0 0 40px 0;
}

.softpedia {
  padding: 50px 0 0 0;
}

.softpedia-img {
  margin: 0 0 45px 0;
}

.faq {
  margin: 0 0 90px 0;
}

.faq-list {
  width: 100%;
}

.faq-list-item {
  width: 100%;
  padding: 40px 0 0 0;
}

.faq-list-item p {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.faq-question {
  width: 95%;
  display: block;
  text-align: left;
  margin: 0 auto 0 0;
}

.faq-answer-open_cross {
  width: 25px;
  height: 25px;
  display: block;
  background-image: url(../img/cross.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease;
}

.faq-answer {
  width: 95%;
  max-width: 1200px;
  display: none;
  text-align: left;
  padding: 25px 0 0 0;
}

.faq-answer-open_cross:hover {
  transform: scale(1.3);
}

#open-cross1 {
  display: none;
  transition: all 0.2s ease;
}

#open-cross1:checked ~ .faq-answer {
  display: block;
}

#open-cross1:checked ~ .faq-answer-open_cross {
  transform: rotate(45deg);
}

#open-cross2 {
  display: none;
  transition: all 0.2s ease;
}

#open-cross2:checked ~ .faq-answer {
  display: block;
}

#open-cross2:checked ~ .faq-answer-open_cross {
  transform: rotate(45deg);
}

#open-cross3 {
  display: none;
  transition: all 0.2s ease;
}

#open-cross3:checked ~ .faq-answer {
  display: block;
}

#open-cross3:checked ~ .faq-answer-open_cross {
  transform: rotate(45deg);
}

.faq-item-underline {
  width: 100%;
  max-width: 1200px;
  display: block;
  border: 1px solid #D9D9D9;
  margin: 40px 0 0 0;
}

.page-footer {
  width: 100%;
  padding: 50px 0 0 0;
  background-image: url(../img/circles.png);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.make-int-green {
  width: 100%;
  min-height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/green-int-bcg.png);
  border-radius: 35px;
  margin: 0 0 70px 0;
}

.make-green-title {
  width: 100%;
  max-width: 1006px;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0 0 25px 0;
}

.make-green-txt {
  width: 100%;
  max-width: 574px;
  color: #FFFFFF;
  margin: 0 0 35px 0;
}

.footer-underline {
  width: 100%;
  max-width: 1200px;
  border: 1px solid #D9D9D9;
}

.footer-links {
  width: 100%;
  min-height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.footer-logo {
  display: block;
  width: 65px;
  height: 42px;
}

.copyrigt {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #3C3F34;
}

.dispate-logo {
  display: block;
  margin: 0 -20px 0 0;
}

.dispate-logo img {
  display: block;
}

@media (min-width: 1200px) {
  .page-container {
    max-width: 1200px;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */